body {
    font-family: "Noto Sans JP";
}
/*test*/
header{
    background-color: lightskyblue;
}
main{
    background-color: lightgreen;
    height: 3000px;
}
footer{
    background-color: yellow;
    height: 100px;
}
/*test*/
header{
    position: sticky;
    top: 0;
}